server:
  port: 8082

spring:
  application:
    name: store-service

  datasource:
    url: ${RDS_ENDPOINT_STORE}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER_STORE}
    password: ${DB_PASSWORD_STORE}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 500
        use_sql_comments: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    open-in-view: false



eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}


management:
  endpoints:
    web:
      exposure:
        include: health
